@font-face {
  font-family: 'Mina';
  src: url('font/Mina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family:'Mina';
}

body{
  overflow-x: hidden !important;
  box-sizing: border-box;
}

.header {
    background-color: #0152A4;
    display: flex;  
    align-items: center;
    max-height: 100px;
    justify-content: space-between;
    position: static; 
    width: 100%;
    top: 0; 
    z-index: 1000;
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


#img-logo{
    background-color: #0152A4;
    width: 420px;
    height: 80px;
}

.img2{
  width: 120px;
  height: 100px;
}

.main-menu ul {
  list-style: none; 
  display: flex;
  padding: 0;
  margin: 0;
}

.main-menu li {
  margin-right: 100px; 
}

.main-menu li:last-child {
  margin-right: 50px; 
}
.main-menu ul li{
  list-style: none;
  font-size: 16px;
  font-family: 'Mina';
  
}
.main-menu a {
  color: white;
  text-decoration: none;
}
.nav-link.active {
  text-decoration: underline;
  text-decoration-color: rgb(0, 217, 255);
  text-decoration-thickness: 2px; 
}

.nav-link:hover{
  color: #0095ff !important;
  transform: scale(1.2); 
  transition: transform 0.5s ease, filter 0.5s ease; 
  
}

.mobile-menu{
  display: none;
  width: 20px;
  height: 20px;
  fill: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2vh;
}

.mobile-contact{
  display: none;
  width: 20px;
  height: 20px;
  fill: white;
  cursor: pointer;
  margin-left: auto;
  margin-right: 2vh;
}

.carousel-item {
  width: 100vh;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}



/* Adicionar box-shadow nas setas de navegação */
/* Adicionar box-shadow nas setas de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, filter 0.3s ease; 
}

/* Alterar o estilo das setas no hover */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    transform: scale(1.5); 
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
}

/* Remover a cor de fundo azul ao clicar */
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent !important;
    border: none;
    outline: none;
    box-shadow: none; /* Remove qualquer sombra de caixa */
}

/* Garantir que a cor de fundo permaneça transparente no hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent !important;
}

/* Estilo para os botões dos indicadores */
.carousel-indicators button {
    background-color: transparent;
    border: none;
}

.carousel-indicators button.active {
    background-color: #f8f8f8; /* Pode ajustar a cor do botão ativo */
}

#form {
  color: #fff;
  font-family: 'Mina', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #006ad4a4;
  padding: 20px;
  width: 100%;
  height: auto;
  
 
}


.formulario h1 {
  color: #fff;
  font-family: 'Mina', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 48px;
}

.formulario p {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-left: 20vh;
  padding-right: 20vh;
}

.campoForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
}

label {
  color: #fff;
  font-family: 'Mina', sans-serif;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="file"] {
  border-radius: 8px;
  padding: 2vh;
  border: none;
  margin-bottom: 3.14vh;
  width: 50vh;
}

textarea {
  resize: vertical;
}

button {
  background-color: #fff;
  color: #0069D4;
  border: none;
  padding: 2vh 4vh;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

button:hover {
  background-color: #004a9d;
  color: #fff;
}


.titulos{
  color: #0069D4;
  font-family: 'Mina';
  font-weight: bold;
  font-size: 4.8em;
  margin-top: 10vh;
  font-weight: 800;
  justify-content: flex-start;
  align-self: center;
  text-align: center;
}

.offer{ 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.itemoffers{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 120px; 
}
.itemoffersEspelhado{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 120px;
}

.titulo-offer{
  color:#0069D4;
  font-family: 'Mina';
  font-weight: bold;
  align-self: flex-start;
  margin-top: 36px;
  font-size: 32px;
}

p{
  font-family: 'Mina';
  color: #000;
  font-size: 14px;
}

.Sobre{
  background-image: url(../imagens/fundoMabe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5vh;
  box-sizing: border-box;

}

.textoSobre{
  background-color: rgba(6, 61, 179, 0.71);
  width: 75%;
  height: auto;
  text-align: center;
  padding: 10vh;
}

.textoSobre h1{
  font-family: 'Mina';
  font-weight: 2vw;
  font-weight: 700;
  color: #FFFFFF;
}

.textoSobre p{
  font-size: 1.6vw;
  color: #FFFFFF;
}

.frase-destaque{
  font-family: 'Mina', sans-serif;
  font-weight: 800;
  color: #181f9e;
  font-size: 18px;

}


#produtos{
  display: block;

}

.produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box-container {
  flex-wrap: wrap;
  position: relative;
  width: 320px;
  height: 250px;
  margin: 7.5vh 10vh;
  border-radius: 20px;
  transition: all 0.2s;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25vh;
   
}

.box {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  transition: all 3s;
  color: #0152A4;
}

.box:hover {
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  background: rgba(103, 151, 255, 0.447);
  padding: 5px 5px 5px 5px;
}

.first-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: all 0.7s;
  border-radius: 10px;
  
 
}

.first-content svg{
  width: 10vh;
  margin-bottom: 5vh;
}

.first-content h3{
  color: #0152A4;
  text-align: center;
  font-weight: 700;
  font-size: 2vw;
}

.box-container:hover .first-content {
  opacity: 0;
  height: 0;
}


.second-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.7s, height 0.7s;
  background-color: #0483e4cd;
  color: white;
  
  padding: 2vh;
}


.second-content a {
  text-decoration: none;
  color: #0051ff;
  margin-top: 1vh;
  font-weight: 800;
  transition: color 0.3s ease;
  animation: pulse 1.5s infinite;
}

.second-content a:hover {
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.1);
    
  }
  100% {
    transform: scale(1);
   
  }
}

.box-container:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.4vw;
  justify-content: center;
  text-align: center;
  font-family: 'Mina';
}

#beneficios{
  background-color: #0069D4;
  font-weight: 800;
  display: block;
  text-align: center;
  width: 100%;
  height: auto;

}

#beneficios h1{
  font-size: 4.8vw;
  color: #ffff;
  font-family: 'Mina', sans-serif;
  font-weight: 600;
  padding-top: 10vh;
}
.ofTips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6vh;
  justify-content: center;
}


.ofTips .card {
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 420px;
  max-width: 274px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  border: none;
  padding: 2vh;
  margin-bottom: 10vh;
}

.ofTips .card h2 {
   font-family: 'Mina', sans-serif;
  font-weight: bold;
  color:#0069D4;
  font-size: 24px;
  margin-top: 2vh;
  margin-bottom: 20px 
  }

.ofTips .card p{
  margin-top: 5px;
  font-family: 'Mina', Arial, Helvetica, sans-serif;
  color: #080808;
  font-size: 14px;
}

.ofTips .card:hover {
  transform: scale(1.1, 1.1);
}

.refTips{
  height: 140px;
  align-items: center;
}

.txtoffer{
  margin-left: 20px;
  
}

.img1{
  width: 100px;
  height: 100px;
}



.ajusteFAQ{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  margin-top: 0;
  margin-bottom: 250px;

}
.faq{
  width: 80%;
  max-width: 1800px;
  flex-direction: column;
  
}
.faq details summary{
  background-color: #0069D4;
  color: #fff;
  font-family: 'Mina';
  font-weight: bold;
  font-size: 28px;
  padding: 1%;
  border-bottom: solid 0.5px #000000;
  list-style: none;
}

.faq details p{
background-color: #007FFF;
color: #fff;
opacity: 45%;
padding: 3%;
margin: 0;
}

.infos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vh;
  margin-right: 25vh;
  padding: 10vh;
}


footer {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #0069D4;
  justify-content: space-between;
  align-items: center;
}

#gif{
  width: 300px;
  height: 150px;
  align-self: center;
 
}
#logo{
  width: 150px;
  margin-right: 10vh;
  align-self: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.footer-left {
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: 15vh;
  gap: 15vh;
  margin-left: 5vh;
}

footer.footer-left{
  width: 100%;
  
}

.socialCard {
  display: flex;
  flex-direction: row; /* alinhar ícones horizontalmente */
  margin-left: 2vh;
}

.txt1, .txt2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.infostxt{
  display: flex;
  flex-direction: column;
}
.txt1 img, .txt2 img {
  max-width: 80px; 
  filter: brightness(0) invert(1);
  margin-right: 2vh;
}

.txt1 p, .txt2 p {
  color: #fff; /* Cor do texto */
  width: 100%;
  margin-top: 2vh;
  font-size: .8vw;
}


.txtlog{
  color: #000000;
  position: right;
  flex-direction: row;
  justify-content: right;
  align-self: right;
  flex-wrap: wrap ;
  width: 100%;
  font-size: 24px;
}

.btt{
  margin-left: 64.5vh;
  margin-bottom: 10vh;
}

.socialCard {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 25px 25px;
  justify-content: flex-end;
  
}

.socialContainer {
  width: 45px;
  height: 45px;
  background-color: #0069D4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 10px;
}

.containerFour:hover {
  background-color: #d3d3d3;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 20px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fundo-job{
  width: 100%;
  height: auto;
  background-image: url('../imagens/pattern\ \(2\).png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;  
}

.form-container {
	width: 100%;
	height: auto;
	background-color: #0069D4;
	display: flex;
  justify-content: center;
	align-items: center;
}
.upload-files-container {
	background-color: #ffff;
	width: 50vh;
  height: 100px;
	padding: 30px 60px;
	border-radius: 20px;
  margin-top: 10vh;
	display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
	border: 4px dashed #003d7b;
	border-radius: 20px;
	width: 50vh;
  height: 100px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font: 'Mina';
  font-size: 1em;
  color:#003d7b;
  margin-top: 7.5vh
}
.drag-file-area label {
	font-size: 19px;
  height: 100px;
  margin-bottom: -80vh;
}

.default-file-input {
	opacity: 0;
  margin-top: -200vh;
}
.cannot-upload-message {
	background-color: #f8504a;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #FFFFFF;
	background-color:#0069D4;
  transition: all 1s;
	width: 400px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}

.label-btn{
  height: 10%;
  margin-top: -7.5vh;
}

.upload-button {
	font-family: 'Mina';
  align-self: center;
	background-color: #ffff;
	color: #003d7b;
	display: flex;
  width: 75px;
  height: 5vh;
	align-items: center;
  text-align: center;
	font-size: 18px;
  margin-top: 5vh;
	border: none;
	border-radius: 20px;
	padding: 7.5px 50px;
	cursor: pointer;
  border: solid 4px #1777d6;
}

.upload-button:hover{
    background-color: #003d7b;
    color:#FFFFFF;
    border-color: #ffff;
}

@media (max-width:560px){
  
  .header{
    height: 70px !important;

  }
  h1.titulos{
    font-size: 3.6em;
  }
  .mobile-menu {
    display: flex; 
    justify-content: flex-start !important;
    align-items: center; 
}

#img-logo {
    width: 20vh !important;
    height: auto !important;
    margin: 0 auto; 
    align-self: center;
    justify-self: center;
}

.mobile-contact {
    display: flex !important; 
    justify-content: flex-end !important;
    align-items: center; /
}

.carousel-item img {
  width:100%;
  height: auto;
  object-fit: cover;
}
  /*responsividade navbar*/
  .main-menu{
    position: fixed!important;
    display: none !important;
    z-index: -1;
    left: 0 !important;
    top:70px !important;
    width: 100% !important;
    height: 25% !important; 
    background-color:#0069D4 !important; 
    display: flex !important;
    flex-direction: column;
    align-items: flex-start!important; 
    justify-content: center !important; 
    transform: translateX(100%) !important; 
    transition: transform 0.3s ease !important;
  }

  .main-menu.active {
    z-index: 10 !important;
    justify-content: flex-start;
    transform: translateX(0) !important; 
  }

  .main-menu ul {
    flex-direction: column !important; 
    padding: 5px !important; 
  }

  .main-menu li {
    margin-right: 0 !important; 
    margin-bottom: 5px !important; 
  }

  .main-menu li:last-child {
    margin-bottom: 0 !important; 
  }

  .main-menu ul li {
    font-size: 14px !important; 
  }
  .mobile-menu {
    display: block !important; 
    cursor: pointer !important; 
    
  }
  .mobile-menu:hover {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    transition: transform 0.9s ease, filter 0.5s ease; 
    
  }
  /*Responsividade beneficios*/
  #beneficios{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
    #beneficios h1{
      padding-top: 2vh;
    }
  .ofTips {
    flex-wrap: wrap;
  }

  .ofTips .card {
    width: 80%;
    height: auto;
    margin-bottom: 0 !important ; 
  }

  .ofTips .card:last-child{
    margin-bottom: 5vh !important;
  } 
  .ofTips .card h2 {
    font-family: 'Mina', sans-serif;
   font-weight: bold;
   color:#0069D4;
   font-size: 3.4vw;
   margin-top: 1vh !important;
   margin-bottom: 1vh !important;
   
   }
 
 .ofTips .card p{
   margin-top: 5px;
   font-family: 'Mina', Arial, Helvetica, sans-serif;
   color: #080808;
   font-size: 2vw;
   margin-top: 1vh !important;
 }

 
.img1{
  width: 40px;
  height: 40px;
}

.img2{
  width: 60px;
  height: 40px;
}
  

  /*Sobre*/
  .Sobre{
    background-image: url(../imagens/mobileResolution-bkg-mabe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
  
    padding: 1.5em;
  }
  .textoSobre{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh !important;
  }
  .textoSobre h1{
    margin-bottom: 3vh;
 }
  
  .textoSobre p{
    font-size: 3vw;
    margin-bottom: 1vh;
    padding: 0;
    color: #FFFFFF;
  }


  /*Produtos*/
  .box-container {
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 270px;
    margin: 2.5vh 3vh;
    border-radius: 20px;
    transition: all 0.2s;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8vh;
  }
  .first-content h3{
    font-size: 30px;
  }

  .second-content span{
    font-size: 18px;
  }
  .box-container:hover .second-content {
    font-size: 18px;
    
  }

  /*responsividade footer*/
  footer{
    width: 100% !important;
    height: 100% !important;
    flex-direction:column !important;
    background-color: #0069D4 !important;
    justify-content:center !important;
    align-items: center !important;
    flex-direction: column;
  }
  
  .footer-left{
    width: 100% !important;
    height: auto !important;
    gap: auto;
    flex-direction: column-reverse!important;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 0 !important;
    margin-bottom: 5vh !important;
  }
  .footer-left:last-child{
    margin-bottom: 2vh;
  }
  
  .txt1 img, .txt2 img {
    max-width: 50px;
    margin: 0 !important;
    margin-right: 2vh ;
  }

  #gif{
    display: none;
   
  }
  #logo{
    width: 50px !important;
    margin-right: 0 !important;
    margin-bottom: 7.5vh;
}

  .txt1 p, .txt2 p {
    margin-left: 2vh;
    font-size: .8em !important;
  }
  .socialCard{
    
    padding: 0;
    margin: 0 !important;
   
  }
  .socialContainer {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 1.8vh;
    
  }

  .socialSvg {
    width: 30px !important;
  }

  /*formulario*/
  @media (max-width: 768px) {
    .fundo-job {
      background-size: contain; 
      background-position: center; 
    }
  }
  
  
  .formulario h1 {
    color: #fff;
    font-family: 'Mina', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    margin-top: 4vh;
  }
  
  .formulario p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  
  .campoForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5px;
    align-items: center;
  }
  
  label {
    color: #fff;
    font-family: 'Mina', sans-serif;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  input[type="file"] {
    border-radius: 8px;
    padding: 1vh;
    border: none;
    margin-bottom: 3.14vh;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #fff;
    color: #0069D4;
    border: none;
    padding: 2vh 4vh;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  
  button:hover {
    background-color: #004a9d;
    color: #fff;
  }
  
}


/*RESPONSIVIDADE TABLETS E TELAS MENORES*/
@media (min-width:561px) and (max-width:1024px){

body{
  overflow-x: hidden !important;
}

  #img-logo{
    width: 320px !important;
    height: auto !important;
    
  }

   /*responsividade navbar*/
   .main-menu{
    position: fixed!important;
    display: none !important;
    z-index: -1;
    left: 0 !important;
    top: 69px !important;
    width: 100% !important;
    height: 30% !important; 
    background-color:#0069D4 !important; 
    display: flex !important;
    flex-direction: column;
    align-items: flex-start!important; 
    justify-content: center !important; 
    transform: translateX(100%) !important; 
    transition: transform 0.3s ease !important;
  }

  .main-menu.active {
    z-index: 10 !important;
    transform: translateX(0) !important; 
  }

  .main-menu ul {
    flex-direction: column !important; 
    padding: 5px !important; 
  }

  .main-menu li {
    margin-right: 0 !important; 
    margin-bottom: 5px !important; 
  }

  .main-menu li:last-child {
    margin-bottom: 0 !important; 
  }

  .main-menu ul li {
    font-size: 14px !important; 
  }
  .mobile-menu {
    display: block !important; 
    cursor: pointer !important; 
    
  }
  .mobile-menu:hover {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    transition: transform 0.9s ease, filter 0.5s ease; 
    
  }

/*Beneficios*/
.ofTips{
  gap: 2vh;
}
.ofTips .card {
  height: 340px;
  max-width: 210px;
  border-radius: 10px;
  padding: 1vh;
  margin-bottom: 4vh;
}
.ofTips .card h2 {
  font-family: 'Mina', sans-serif;
  font-weight: bold;
  color: #0069D4;
  font-size: 1.5vw;
  margin-top: 1vh;
  /* margin-bottom: 20px; */
}
.img1{
  width: 56px;
  height: 56px;
}

.img2{
  width: 72px;
  height: 56px;
}

  /*Sobre*/
  .Sobre{
    background-image: url(../imagens/mobileResolution-bkg-mabe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5em;
    width: 100%;
    height: 100vh !important;
  }
  .textoSobre{
    padding: .5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: auto;
  }
  
  .textoSobre h1{
    font-size: 3.4vw;
  
  }
  
  .textoSobre p{
    font-size: 1.6vw;
    color: #FFFFFF;
  }
  /*Produtos*/
.first-content svg{
  width: 56px;
}
.first-content span{
  font-size: 24px;
}
.second-content span{
  font-size: 18px !important;
}
.second-content a {
  font-size: 14px ;
}
/*Footer*/
  footer{
      width: 100%;
      height: auto;
      background-color: #0069D4;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      

  }
  #gif,
  .footer-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
   
    

  }
  #gif{
    max-width: 300px;
    max-height: 175px;
    margin-top: 5vh !important;
    
  }
  #logo{
    max-width: 85px;
    margin: 0;
    margin-bottom: 5vh !important;
  }

  .txt1 p, .txt2 p{
    font-size: 1.5vw !important;
    text-align: center !important;
  }

  .txt1 img, .txt2 img{
    max-width: 40px;
  }

   /*formulario*/
   @media (max-width: 768px) {
    .fundo-job {
      background-size: contain; /* Ajuste o tamanho da imagem de fundo para 'contain' em telas menores */
      background-position: center; /* Certifique-se de que a imagem esteja centralizada */
    }
  }

  
  
  .formulario h1 {
    color: #fff;
    font-family: 'Mina', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
  }
  
  .formulario p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-left: 15vh;
    padding-right: 15vh;
  }
  
  .campoForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5px;
    align-items: center;
  }
  
  label {
    color: #fff;
    font-family: 'Mina', sans-serif;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  input[type="file"] {
    border-radius: 8px;
    padding: 1vh;
    border: none;
    margin-bottom: 3.14vh;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #fff;
    color: #0069D4;
    border: none;
    padding: 2vh 4vh;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  
  button:hover {
    background-color: #004a9d;
    color: #fff;
  }
  


}

/*Notebooks versão MINI*/
@media (min-width: 1025px) and (max-width: 1256px) {
  #img-logo {
    background-color: #0152A4 !important;
    width: 270px !important;
    height: auto !important;
  }
  .main-menu li {
    display: inline-block !important; 
    margin-right: 25px !important; 
  }

  .main-menu li:last-child {
    margin-right: 12.5px !important; 
  }

  .main-menu ul li {
    font-size: 14px !important;
  }

  .main-menu a{
    font-size: 14px;
  }
 
  /*Sobre*/
  .Sobre{
    width: 100%;
    height: 100%;
  }
  .textoSobre{
    width: 75%;
    height: auto;
    padding: 20px;
  }
  /*responsividade footer*/
  footer {
    flex-direction: row !important;
    text-align: center !important;
  }
  
  #gif {
    width: 175px !important;
    height: 75px !important;
  }

  #logo{
    width: 100px;
    height: auto;
  }

  .footer-left {
    align-items: center !important;
  }

  .txt1 img, .txt2 img{
    width: 60px !important;
    height: auto !important;
  }
  .txt1 p, .txt2 p {
    font-size: 1.2vw !important;
  }

  .socialCard {
    justify-content: center !important;
  }
  /*beneficios*/
  
.ofTips .card {
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  max-width: 180px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  border: none;
  padding: 2vh;
  margin-bottom: 10vh;
}

.ofTips .card h2 {
   font-family: 'Mina', sans-serif;
  font-weight: bold;
  color:#0069D4;
  font-size: 1.2vw;
  margin-top: 25px;
  margin-bottom: 20px 
  }

.ofTips .card p{
  margin-top: 5px;
  font-family: 'Mina', Arial, Helvetica, sans-serif;
  color: #080808;
  font-size: .8vw;
}

.img1{
  width: 80px;
  height: auto;
}

.img2{
  width: 100px;
  height: 80px;
}

}

/*Ajuste footer*/

@media (min-width: 1256.01) and (max-width: 1392){
  .txt1 img, .txt2 img{
    width: 60px !important;
    height: auto !important;
  }
  .txt1 p, .txt2 p {
    font-size: 1vw !important;
  }

  .socialCard {
    margin-left: .85vh !important;
}
}


/*Alterações de layout de transição*/

@media (min-width:676px) and (max-width:901px){
  
 /*Bneficios*/ 
.ofTips .card {
  
  height: 400px;
  max-width: 312px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  border: none;
  padding: 2vh;
  margin-bottom: 10vh;
}

.ofTips .card h2 {
  font-size: 24px !important;
  
  }

.ofTips .card p{
  font-size: 16px !important;
}
  /*Sobre*/

  
  /*Produtos*/
  .first-content svg{
    width: 60px !important;
  }
  .first-content h3{
    font-size: 32px !important;
  }


}

@media (max-height:465px){
   /*responsividade navbar*/
   .main-menu{
    position: fixed;
    height: 100% !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
   
  } 

  .nav:last-child{
    margin-bottom: 10vh !important;
  }

  
}

@media (min-width:1024px) and (max-height:465.1px){
  .main-menu{
  position:  relative !important;
  margin-top: 5vh;
  
  }
  #img-logo {
    background-color: #0152A4 !important;
    width: 270px !important;
    height: auto !important;
  }
  .main-menu li {
    display: flex!important; 
    justify-content: space-between;
    align-items: center;
    margin-right: 18px !important; 
  }

  .main-menu li:last-child {
    margin-right: 12.5px !important; 
  }

  .main-menu ul li {
    font-size: 14px !important;
  }

  .main-menu a{
    font-size: 14px;
  }
 
}

@media (min-width: 1440px){

.first-content h3{
  font-size: 30px;
}

.box-container:hover .second-content {
  font-size: 18px; 
}


}